body{
    background-color: greenyellow;
    text-align: center;
}

@keyframes sway {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

h1{
    text-align: center;
    animation: sway 2s infinite ease-in-out;
}

.top{
    position: relative;
    left: 40%;
    top: 5%;
}

.flex-box{
    padding: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.flex-box2{
    width: 100%;
    padding: 10px;
}

.flex-item {
    float: left;
    width: 30%;
    background-color: rgba(153, 255, 0, 0.5);
}

.allexplanation{
    float: right;
    width: 70%;
    background-color: none;
}

.explanation{
    background-color: rgba(0,255,255,0.5);
}