body{
    background-color: greenyellow;
    text-align: center;
}

@keyframes sway {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

h1{
    text-align: center;
    animation: sway 2s infinite ease-in-out;
}

.top{
    position: relative;
    left: 80%;
    top: 5%;
}

.explanation{
    line-break: strict;
}